<!DOCTYPE html>

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Лаба 12</title>
    <link rel="shortcut icon" href="icon.ico">
    <link rel="stylesheet" href="12.css">
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    <div id = "app" data-v-App>
        <div class="name">
            <h1 >Список студентов</h1>
            <p class="info">Выполнила Иванова Ольга, группа 201-321.</p>
            <p class="info"> Эта страница создана с целью изучения основ фреймворка Vue.js и приобретения навыков создания простейшей веб-страницы с реактивным поведением. В процессе работы былы изучены основы данного фреймворка, а также способ подключения шрифтов из библиотеки Google fonts. Введите необходимые данные в форму ниже, чтобы начать работу.</p>

        </div>

        
            <div class="forma">
                <h2>Форма</h2>
                <form>
                    <p class="lab"><label for="last_name">Фамилия</label></p>
                    <p><input type="text"id="l_name" v-model="LastName" v-on:input="len1"></label></p>
                    <p class="lab"><label for="first_name">Имя</label></p>
                    <p><input type="text" id="f_name" v-model="FirstName" v-on:input="len2"></p>
                    <p class="calcTitle">Количество знаков: </p>
                    <p class="calcNum">{{ charCalc }}</p>
                    <button type="button" v-on:click="add" v-bind:class="{ ButtonActive: MainButton}"><b>Записать</b></button>
                </form>
            </div>

        <h2>Список</h2>
            <p class="ListNull" v-show="visible">Список пуст</p>
            <div class="List">
                <ol>
                    <li v-for="note in notes">{{ note }}</li>
                </ol>
            </div>
    </div>
    <script src="12.js"></script>
</body>
</html>